<html>
<head>
    <title>d3 test</title>
    <link rel="stylesheet" href="./public/lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="microphone/microphone.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body ng-app = "MyApp" ng-controller="myCtrl">
<div layout = "row">
<div class="display">
</div>
    <div layout = "column" style="margin-top: 10px;">
        <div>
        <form name="grid">
        <md-input-container>
            Select the point and algorithm to implement the search:
            <div layout = "row">
                <div>
            <md-radio-group  ng-model="point">
                <div layout="column">
                    <md-radio-button value="des:A" flex > A
                    </md-radio-button>
                    <md-radio-button value="des:B" flex> B
                    </md-radio-button>
                </div>
            </md-radio-group>
                </div>
            <div>
            <md-radio-group  ng-model="alg">
                <div layout="column">
                    <md-radio-button value="BFS" flex > BFS
                    </md-radio-button>
                    <md-radio-button value="DFS" flex> DFS
                    </md-radio-button>
                    <md-radio-button value="BestFS" flex> BestFS
                    </md-radio-button>
                    <md-radio-button value="ASTAR" flex> A*
                    </md-radio-button>
                </div>
            </md-radio-group>
            </div>
            </div>
        </md-input-container>
            </form>
            <md-button ng-click = "submit()" class = "md-raised md-primary">submit</md-button>
            <md-button ng-click = "reset()" class = "md-raised md-primary">reset</md-button>
            <hr>
        </div>
        <div style="margin-top:30px; ">
            <div id="microphone"></div>
            <pre id="result"></pre>
            <div id="info"></div>
            <div id="error"></div>
            <hr>
        </div>
        <div style="margin-top:20px;">
            <svg width="400" height="150" >
                <g>
                    <rect x="5" y="5" height="40" width="40" stroke="#2D801C"  fill="#3CAB26" />
                    <text x="60" y="25" fill=""> ---> &nbsp; &nbsp; Grass</text>
                </g>
                <g>
                    <rect x="5" y="50" height="40" width="40" stroke="#C7C7C7"  fill="#3399ff" />
                    <text x="60" y="75" fill=""> --->&nbsp;  &nbsp; Swamp</text>
                </g>
                <g>
                    <rect x="5" y="95" height="40" width="40" stroke="#FF6600"  fill="#B3210B" />
                    <text x="60" y="120" fill=""> ---> &nbsp; &nbsp; Wall</text>
                </g>
                <g>
                    <rect x="190" y="5" height="40" width="40" stroke="#2D801C"  fill="#ab13a5" />
                    <text x="250" y="25" fill=""> --->  &nbsp; &nbsp;Start</text>
                </g>
                <g>
                    <rect x="190" y="50" height="40" width="40" stroke="#2D801C"  fill="#ab6d14" />
                    <text x="250" y="75" fill=""> ---> &nbsp; &nbsp;Destination</text>
                </g>
                <g>
                    <rect x="190" y="95" height="40" width="40" stroke="#2D801C"  fill="#00FFFF" />
                    <text x="250" y="120" fill=""> ---> &nbsp; &nbsp;Fill</text>
                </g>
            </svg>
        </div>
    </div>
    </div>
<script src="./public/lib/d3/d3.min.js"></script>
<script src="./public/lib/jquery/dist/jquery.min.js"></script>
<script src="./public/lib/angular/angular.min.js"></script>
<script src="./public/lib/angular-animate/angular-animate.min.js"></script>
<script src="./public/lib/angular-aria/angular-aria.min.js"></script>
<script src="./public/lib/angular-material/angular-material.min.js"></script>
<script src = "utils.js"></script>
<script src="microphone/microphone.min.js"></script>
<script src = "intent.js"></script>
<script>
    var searchMap = angular.module('MyApp',['ngMaterial']);
    searchMap.controller('myCtrl', function($scope,$interval){

        var squareLength = 40;
        var ratios = {swamp: 0.1, wall: 0.1};
        var gridSize = {x: 20, y: 15};

        var svgSize = {
            width: gridSize.x * squareLength,
            height: gridSize.y * squareLength
        };



        var svg = d3.select(".display")
                .append("svg")
                .attr("width", svgSize.width)
                .attr("height", svgSize.height);
        var problem = drawMap();
        var rect = svg.selectAll("rect")
                .data(problem.map)
                .enter()
                .append("rect");

        rect.attr("x", function (d) {
            return d.x;
        })
                .attr("y", function (d) {
                    return d.y;
                })
                .attr("width", function (d) {
                    return squareLength;
                })
                .attr("height", function (d) {
                    return squareLength;
                })
                .attr("class", function (d) {
                    return d.type;
                })
                .attr("id", function (d) {
                    return d.x + "_" + d.y;
                });


        var startDes = [problem.start, problem.des[0], problem.des[1]];
        var text = svg.selectAll("text")
                .data(startDes)
                .enter()
                .append("text");
        text.attr("x", function (d) {
            return d.x;
        })
                .attr("y", function (d) {
                    return d.y + 25;
                })
                .text(function (d) {
                    return d.name;
                });


        $scope.alg = "";
        $scope.point = "";
        var visitedRoute=[] ;
        var visitedRouteClone=[] ;
        $scope.submit = function(){

            if($scope.alg == "BFS"){
                visitedRoute = bfs_search($scope.point);
                visitedRouteClone = visitedRoute;
                console.log(visitedRoute);
            }else if($scope.alg == "DFS"){
                visitedRoute = dfs_search($scope.point);
            }else if($scope.alg == "ASTAR"){
                visitedRoute = aStar_search(problem,$scope.point);
            }else if($scope.alg == "BestFS"){
                visitedRoute = best_first_search(problem,$scope.point);
            }else{

            }

            routing(visitedRoute);
        };

        $scope.reset = function(){
            console.log(visitedRouteClone);
            reset(visitedRouteClone);
        }
        function isBorder(x, y) {
            return x == 0 || y == 0 || x == (gridSize.x - 1) || y == (gridSize.y - 1);
        };

        function drawMap() {
            var start = 0;
            var des = 0;
            var type;
            var pre = "";
            var map = [];
            var problem = {};
            problem.des = [];
            var desName = ["A","B"];
            for (var i = 0; i < gridSize.x; i++) {
                for (var j = 0; j < gridSize.y; j++) {
                    var cell = {};
                    var startType = 0;
                    var desType = 0;
                    cell.x = i * squareLength;
                    cell.y = j * squareLength;
                    var swamp = Math.random() < ratios.swamp;
                    var wall = Math.random() < ratios.wall;

                    if (isBorder(i, j, gridSize)) {
                        type = "wall";
                    } else {
                        type = "grass";
                    }
                    if (swamp) {
                        type = "swamp";
                    }
                    if (wall) {
                        type = "wall";
                    }
                    cell.type = type;
                    if (start == 0) {
                        startType = Math.random() < 0.02;
                    }
                    if (des < 2) {
                        desType = Math.random() < 0.02;
                    }
                    if (startType) {
                        cell.type = "start";
                        cell.name = "start";
                        start++;
                    }
                    if (desType) {
                        cell.type = "des";
                        cell.name = "des:"+desName.pop();
                        des++;
                    }
                    if (cell.type == "wall") {
                        cell.weight = 10000;
                    } else if (cell.type == "swamp") {
                        cell.weight = 15;
                    } else if (cell.type == "grass") {
                        cell.weight = 1;
                    } else {
                        cell.weight = 1;
                    }
                    cell.action = null;
                    map.push(cell);
                    if (cell.type == "start") {
                        problem.start = cell;
                    }
                    if (cell.type == "des") {
                        problem.des.push(cell);
                    }
                }
            }
            problem.map = map;
            return problem;
        }

        function best_first_search(problem,des){
            var frontier = new PriorityQueue();
            var start = problem.start;
            var visited = [start];
            var nei;
            var current;
            var  priority;
            frontier.enQueue(start);
            while(!frontier.isEmpty()){
                current = frontier.deQueue();
                if(isGoalState(current,des)){

                    for(var i = visited.length-1; i >=0; i--){
                        if(isGoalState(visited[i],des)){
                            break;
                        }else{
                            visited.splice(visited.length-1,1);
                        }
                    }
                    return visited;
                }
                var destination;
                for(var i = 0 ; i < problem.des.length; i++){
                    if(problem.des[i].name == des){
                        destination = problem.des[i];
                    }
                }
                nei = getNei(current,visited);
                for(var i = 0; i < nei.length; i++){
                    priority = getHeuristic(problem,nei[i],destination).sort(function(a, b){return a-b})[0];
                    nei[i].total = priority;
                    frontier.enQueue(nei[i]);
                    visited.push(nei[i]);
                }
            }
        }

        function aStar_search(problem,des) {

            var start = problem.start;
            var queue = new Queue();
            var visited = [start];
            queue.enQueue(start);
            var desNode ;
            for(var i = 0; i < problem.des.length; i++){
                if(problem.des[i].name == des){
                    desNode = problem.des[i];
                }
            }
            console.log(desNode);
            while (!queue.isEmpty()) {
                var current = queue.deQueue();
                var weight = getHeuristic(problem,current,desNode);
                var min = weight.sort(function(a, b){return a-b})[0];
                console.log(min);
            if(min < 10000){
                console.log("Ok");
                current.total = min;
               var pq = new PriorityQueue();
                var newVisited = [current];
                pq.enQueue(current);
                while(!pq.isEmpty()){
                    current = pq.deQueue();
                    console.log(current);
                    if(isGoalState(current,des)){
                        for(var i = newVisited.length-1; i >=0; i--){
                            if(isGoalState(newVisited[i],des)){
                                break;
                            }else{
                                newVisited.splice(newVisited.length-1,1);
                            }
                        }
                        return visited.concat(newVisited);
                    }
                    newVisited.push(current);
                    var nei = getNei(current,newVisited);
                    for(var i = 0; i < nei.length; i++){
                        var element = nei[i];
                        weight = getHeuristic(problem,element,desNode);
                         min = weight.sort(function(a, b){return a-b})[0];
                        element.total = min;
                        newVisited.push(element);
                        pq.enQueue(element);
                    }
                    console.log(newVisited);
                }

                return visited;
            }else{
                var nei = getNei(current,visited);
                if (isGoalState(current,des)) {
                    visited.push(current);
                    return visited;
                }
                for(var i = 0; i < nei.length; i++){
                    var element = nei[i];
                    visited.push(element);
                    queue.enQueue(element);
                }
            }
            }
        }

        function getHeuristic(problem,node1,node2){
            var count = (Math.abs(node1.x - node2.x) + Math.abs(node1.y - node2.y)) / 40;
            count--;
            var k = 1;
            var node;
            var start;
            var end;
            var result = [];
            if (node1.y > node2.y) {
                start = node2;
                end = node1;
            } else {
                start = node1;
                end = node2;
            }
            var sum = 0;
            var currentX  = start.x;
            var currentY  = start.y;
            if(start.x < end.x){
                for(var i = 0; i < count; i ++) {
                    if(currentX < end.x){
                        currentX = start.x + 40 * (i+1);
                        node = getNode(problem, currentX, start.y);
                    }
                    else {
                        currentY = start.y + 40 * k;
                        node = getNode(problem, end.x, currentY);
                        k++;
                    }
                    sum += node.weight;
                }
                result.push(sum);
                var sum = 0;
                var k = 1;
                var currentX  = start.x;
                var currentY  = start.y;
                for(var i = 0; i <count; i ++) {
                    if (currentY < end.y) {
                        currentY = start.y + 40 * (i+1);
                        node = getNode(problem, start.x, currentY);
                    }else{
                        currentX = start.x + 40 * k;
                        node = getNode(problem, currentX, end.y);
                        k++;
                    }
                    sum+= node.weight;
                }
                result.push(sum);
                return result;
                }else {
                for(var i = 0; i < count; i ++) {
                    if (currentX > end.x) {
                        currentX = start.x - 40 * (i+1);
                        node = getNode(problem, currentX, start.y);
                    } else {
                        currentY = start.y + 40 * k;
                        node = getNode(problem, end.x, currentY);
                        k++;
                    }
                    sum += node.weight;
                }
                result.push(sum);
                var sum = 0;
                var k = 1;
                var currentX  = start.x;
                var currentY  = start.y;
                for( var i = 0; i < count; i ++) {
                    if (currentY < end.y) {
                        currentY = start.y + 40 * (i+1);
                        node = getNode(problem, start.x, currentY);
                    }else{
                        currentX = start.x - 40 * k;
                        node = getNode(problem, currentX, end.y);
                        k++;
                    }
                    sum+= node.weight;
                }
                result.push(sum);
                return result;
            }
            }

        function bfs_search(des) {
            var start = problem.start;
            var queue = new Queue();
            var visited = [start];
            queue.enQueue(start);
            while (!queue.isEmpty()) {
                var current = queue.deQueue();
                var nei = getNei(current,visited);
                if (isGoalState(current,des)) {
                    visited.push(current);
                    return visited;
                }
                for(var i = 0; i < nei.length; i++){
                    var element = nei[i];
                    visited.push(element);
                    queue.enQueue(element);
                }
            }
        };

        function dfs_search(des) {
            var start = problem.start;
            var stack = new Stack();
            var visited = [];
            stack.push(start);
            while (!stack.isEmpty()) {
                var current = stack.pop();
                visited.push(current);
                if (isGoalState(current,des)) {
                    visited.push(current);
                    return visited;
                }
                var nei = getNei(current,visited);
                for(var i = 0; i < nei.length; i++){
                    var element = nei[i];
                    stack.push(element);
                }
            }
        };


        function drawPath(path,polyline){
            var lineFunction = d3.svg.line()
                    .x(function(d){
                        return d.x;
                    })
                    .y(function(d){
                        return d.y;
                    })
                    .interpolate("linear");
             svg.append("path")
                    .attr("d",lineFunction(polyline))
                    .attr("stroke", "red")
                    .attr("stroke-width", 2)
                    .attr("fill","none");
        }
        function changeColor(visited,path,polyline) {
            var rev = visited.reverse();
                var cb = $interval(function () {
                    if (visited.length == 1) {
                        drawPath(path,polyline);
                        $interval.cancel(cb);
                    }
                    var node = rev.pop();
                    $("#" + node.x + "_" + node.y).css("fill", "#00FFFF");
                }, 20);
        };

        function reset(visitedRouteClone) {
                console.log(visitedRouteClone);
                var node = visitedRouteClone.pop();
                $("#" + node.x + "_" + node.y).css("fill", "none");

        };

         function routing(visited) {
            var tempVisited = visited;
            var des = visited[visited.length - 1];
            var path = [];
            var temp = des;
            var node;
            var polyline = [{
                            "x" : temp.x+20,
                            "y" : temp.y + 20
                            }];
            while (temp.action != null) {
                switch (temp.action) {
                    case "right":
                        node = getNextPath(visited, temp.x - 40, temp.y);
                        break;
                    case "left":
                        node = getNextPath(visited, temp.x + 40, temp.y);
                        break;
                    case "up":
                        node = getNextPath(visited, temp.x, temp.y + 40);
                        break;
                    case "down":
                        node = getNextPath(visited, temp.x, temp.y - 40);
                        break;
                }
                polyline.push({
                    "x" : node.x+20,
                    "y" : node.y+20
                });
                if(node.action != null) {
                    path.push(node);
                }
                temp = node;
                console.log(temp);
            }
             var rev = path.reverse();
             console.log(path);
            changeColor(tempVisited,rev,polyline);
        };
        function getNextPath(visited,x,y){
            for(var i = 0; i < visited.length;i++){
                if(x == visited[i].x && y ==  visited[i].y){
                    return visited[i];
                }
            }
        };

        function getNei(node,visited) {
            var nei = [];
            var newNode;
            if (!(node.x == 0)) {
                newNode = getNode(problem, node.x - 40, node.y);
                if (newNode.type != "wall" && visited.indexOf(newNode) == -1) {
                    newNode.action = "left";
                    nei.push(newNode);
                }
            }
            if (!(node.y == 0)) {
                newNode = getNode(problem, node.x, node.y - 40);
                if (newNode.type != "wall" && visited.indexOf(newNode) == -1) {
                    newNode.action = "up";
                    nei.push(newNode);
                }
            }
            if (!(node.x == 760 )) {
                newNode = getNode(problem, node.x + 40, node.y);
                if (newNode.type != "wall" && visited.indexOf(newNode) == -1) {
                    newNode.action = "right";
                    nei.push(newNode);
                }
            }
            if (!(node.y == 560)) {
                newNode = getNode(problem, node.x, node.y + 40);
                if (newNode.type != "wall" && visited.indexOf(newNode) == -1) {
                    newNode.action = "down";
                    nei.push(newNode);
                }
            }
            return nei;
        };

        function getNode(problem, x, y) {
            return problem.map[x / 40 * 15 + y / 40];
        };

        function isGoalState(vertex,des) {
            if(vertex.name) {
                if (vertex.name == des) {
                    return true;
                }
            }
            return false;
        };
        mic.onresult = function (intent, entities) {
            console.log(entities);
            if(entities.alg.value == "bfs"){
                var visited = bfs_search("des:"+entities.point.value.toUpperCase());
                console.log(visited);
                routing(visited);
            }else if(entities.alg.value == "a_star"){
                var visited = aStar_search(problem);
                routing(visited);
            }else if(entities.alg.value == "BestFS"){
                var visited = best_first_search(problem,"des:"+entities.point.value.toUpperCase());
                routing(visited);
            }
        };
    });

</script>
</body>
</html>
